:root {
  --heading-font-family: "Playfair Display", serif;
  --content-font-family: "Poppins", sans-serif;
  --primary-color: white;
  --secondary-color: #37383d;
  --accent-color: #a78341;
}

body {
  font-family: var(--content-font-family);
}

.hero {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  text-align: center;
  padding: 40px;
}

.hero p {
  font-size: 30px;
}

.hero h1 {
  font-size: 60px;
  text-shadow: -1.5px -1.5px 0 var(--accent-color),
    1.5px -1.5px 0 var(--accent-color), -1.5px 1.5px 0 var(--accent-color),
    1.5px 1.5px 0 var(--accent-color);
}

h1 {
  font-family: var(--heading-font-family);
}

.btn-branding {
  border-radius: 4px;
  background-color: var(--primary-color);
  color: var(--secondary-color);
  font-size: 18px;
  line-height: 27px;
  padding: 10px 15px;
}

.content {
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-top: 36px;
  padding: 50px;
}

.content-container {
  text-align: center;
}



.content-container img {
  filter: grayscale(70%);
}

.content-container img:hover {
  filter: grayscale(0);
  transition: filter 50ms ease-in-out;
}

.portfolio-image {
  max-height: 480px;
}

.about-content h1,
h2,
p,
.work-content {
  text-align: left;
}

.about-content h1 {
  color: var(--accent-color);
  font-family: var(--content-font-family);
  font-size: 35px;
  font-weight: bold;
}

.about-content h2 {
  font-family: var(--heading-font-family);
  font-size: 45px;
  text-shadow: -1.5px -1.5px 0 var(--accent-color),
    1.5px -1.5px 0 var(--accent-color), -1.5px 1.5px 0 var(--accent-color),
    1.5px 1.5px 0 var(--accent-color);
}

.icon {
  font-size: 40px;
}

.work-content h1 {
  color: var(--accent-color);
  font-family: var(--content-font-family);
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 80px;
  text-align: center;
}

.work-content h2 {
  margin-bottom: 20px;
  text-shadow: -1px -1px 0 var(--accent-color), 1px -1px 0 var(--accent-color),
    -1px 1px 0 var(--accent-color), 1px 1px 0 var(--accent-color);
}

.work-content .container {
  max-width: 800px;
}

.work-content .row {
  margin-bottom: 100px;
}
 
.contact-content {
  padding-bottom: 200px;
}

.contact-content h1 {
  color: var(--accent-color);
  font-family: var(--content-font-family);
  font-size: 55px;
  font-weight: bold;
  margin-bottom: 80px;
  
}

.contact-content h2 {
  margin-bottom: 20px;
  text-align: center;
  text-shadow: -1px -1px 0 var(--accent-color), 1px -1px 0 var(--accent-color),
    -1px 1px 0 var(--accent-color), 1px 1px 0 var(--accent-color);
}

.contact-content a {
  text-decoration: none;
  color: white;
}

.contact-content a:hover {
  color: var(--accent-color);
}

.email-icon {
  font-size: 26px;
  margin-right: 21px;
  padding-top: 4px;
}

